<div class="project-details-holder" mat-dialog-content>
    <div class="project-image">
        <img src="../../../assets/images/elearning.jpeg" alt="">
    </div>
    <div class="project-details">
        <h2>Estudiar Web App</h2>
        <span>
            <p><strong>Description: </strong> A web application where users can create chat-rooms/study-rooms to help each other with learning their specific areas of interest.</p>
        </span>
        <span>
            <div class="tech-features">
                <ul>
                    <h4>Technologies Used</h4>
                    <li>Django</li>
                    <li>Django-Rest-Framework</li>
                    <li>Postresql</li>
                    <li>DRF-simpleJWT</li>
                    <li>React</li>
                    <li>Redux</li>
                    <li>Bootstrap</li>
                    <li>AWS-RDS</li>
                </ul>
                <ul>
                    <h4>Features</h4>
                    <li>Authentication & Authorization</li>
                    <li>Guest user Login</li>
                    <li>Create a Study Room</li>
                    <li>Search & Filter Rooms(by multiple parameters)</li>
                    <li>Write a room review</li>
                    <li>Chat with room members</li>
                    <li>View room details</li>
                    <li>View recent activity</li>
                    <li>View room participants</li>
                    <li>Mark task as In-Progress</li>
                    <li>Delete a room that you created</li>
                    <li>Edit a room that you created</li>
                    <li>View & Edit Profile</li>
                    <li>View rooms you have created in your profile</li>
                    <li>Admin: See all Users</li>
                    <li>Admin: Give users admin status</li>
                    <li>Admin: Remove users</li>
                    <li>Admin: See all rooms</li>
                </ul>
            </div>
        </span>
        <span>
            <h4>Things I Learnt</h4>
            <ol>
                <li>How to host my Postgres database on AWS-RDS</li>
                <li>How to handle many-to-many relationships in relational databases</li>
            </ol>
        </span>
        <span class="dialog-actions">
            <div class="toapp">
                <a href="https://github.com/Manasseh-Kinyua/estudiar" target="_blank"><button class="button">Source Code</button></a>
                <a href="https://estudiar.up.railway.app/" target="_blank"><button class="button">View App</button></a>
            </div>
            <button class="close-dialog" mat-dialog-close="true">Close</button>
        </span>
    </div>
</div>