<div class="project-details-holder" mat-dialog-content>
    <div class="project-image">
        <img src="../../../assets/images/ecommerce.png" alt="">
    </div>
    <div class="project-details">
        <h2>BigBasket Online Store</h2>
        <span>
            <p><strong>Description: </strong> BigBasket is an online store aimed as bringing all the best products to customers. It is built with all the core features and functionalities of a modern electronic commerce shop. Focused on customer support, quick deliveries BigBasket aims at growing to the best shopping option for everyone.</p>
        </span>
        <span>
            <div class="tech-features">
                <ul>
                    <h4>Technologies Used</h4>
                    <li>Django</li>
                    <li>Django-Rest-Framework</li>
                    <li>Postresql</li>
                    <li>DRF-simpleJWT</li>
                    <li>React</li>
                    <li>Redux</li>
                    <li>Bootstrap</li>
                    <li>AWS-S3</li>
                </ul>
                <ul>
                    <h4>Features</h4>
                    <li>Authentication & Authorization</li>
                    <li>Window Shop/ Browse accross product</li>
                    <li>Search & Filter Products</li>
                    <li>Add products to cart</li>
                    <li>Proceed to checkout</li>
                    <li>Add shipping address</li>
                    <li>Add payment method</li>
                    <li>Create order</li>
                    <li>View & edit Profile</li>
                    <li>Pay for order</li>
                    <li>Manager: view all orders</li>
                    <li>Manager: view all users</li>
                    <li>Make a user a manager</li>
                    <li>Manager: Add, edit and remove products</li>
                </ul>
            </div>
        </span>
        <span>
            <h4>Things I Learnt</h4>
            <ol>
                <li>How to implement the cart functionality in local storage</li>
                <li>Best practices for e-commerce sites</li>
            </ol>
        </span>
        <span>
            <h4>Features I would Like to Add</h4>
            <ol>
                <li>Integrage Mpesa or Paypal payments or both</li>
            </ol>
        </span>
        <span class="dialog-actions">
            <div class="toapp">
                <a href="https://github.com/Manasseh-Kinyua/bigbasket" target="_blank"><button class="button">Source Code</button></a>
                <a href="https://bigbasket.up.railway.app/" target="_blank"><button class="button">View App</button></a>
            </div>
            <button class="close-dialog" mat-dialog-close="true">Close</button>
        </span>
    </div>
</div>