@import '../../../styles.scss';
$small: 700px;

.project-details-holder {
    display: flex;
    // flex-wrap: wrap;
    // align-items: center;
    // justify-content: center;

    .project-image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem;
    }

    .project-details {
        margin: 1rem;
        .tech-features{
            display: flex;
            // align-items: center;
            justify-content: center;
            ul{
                margin: 1rem;
            }
        }
        .dialog-actions{
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .toapp button{
                margin: 0 .5rem 0 0;
            }
            .close-dialog{
                background-color: red;
                color: white;
                padding: 1rem;
                border: none;
                cursor: pointer;
                border-radius: 133px 133px 131px 132px;
                    -moz-border-radius: 133px 133px 131px 132px;
                    -webkit-border-radius: 133px 133px 131px 132px;
                    border: .1rem solid rgb(255, 165, 0);
            }
            .close-dialog:hover{
                background-color: white;
                color: red;
                padding: 1rem;
                border: .1rem solid red;
                cursor: pointer;
            }
        }
    }

    @media screen and (max-width: $small) {
        flex-wrap: wrap;
    }
}
h2, h5, h4, p, li {
    color: var(--mainText);
}
span{
    margin: 1rem;
}