<div class="project-details-holder" mat-dialog-content>
    <div class="project-image">
        <img src="../../../assets/images/ascendas.png" alt="">
    </div>
    <div class="project-details">
        <h2>Ascendas Web App</h2>
        <span>
            <p><strong>Description: </strong> This is a web based asset management application that allows users to interact with Ascendas, a company that specializes in the fields of property & facility management, commercial real estate, agency, valuation and research.</p>
        </span>
        <span>
            <p><strong>Role: </strong> In a team of five, I worked as Frontend Developer building with Angular. Main roles involved designing and building a good Frontend to ensure good user experience. The role also involved active consumption of APIs built by our Backend developer.</p>
        </span>
        <span>
            <div class="tech-features">
                <ul>
                    <h4>Technologies Used</h4>
                    <li>Angular</li>
                    <li>Karma & Jasmine</li>
                    <li>Angular Material</li>
                    <li>Figma</li>
                </ul>
                <ul>
                    <h4>Features</h4>
                    <li>Authentication and Authorization</li>
                    <li>Create different account types(client / landlord / manager / contractor)</li>
                    <li>Add different property and asset types</li>
                    <li>Request various services for your assets</li>
                    <li>Rent Payments</li>
                    <li>Payments for management services</li>
                    <li>Payment invoices</li>
                    <li>Make updates on maintenance progress</li>
                    <li>Manager: assign users contractor status</li>
                </ul>
            </div>
        </span>
        <span>
            <h4>Things I Learnt</h4>
            <ol>
                <li>Automated testing with karma and jasmine</li>
                <li>How to consume apis with angular</li>
            </ol>
        </span>
        <span class="dialog-actions">
            <div class="toapp">
                <button class="button">Source Code</button>
                <button class="button">View App</button>
            </div>
            <button class="close-dialog" mat-dialog-close="true">Close</button>
        </span>
    </div>
</div>