<div class="project-details-holder" mat-dialog-content>
    <div class="project-image">
        <img src="../../../assets/images/taskjar.png" alt="">
    </div>
    <div class="project-details">
        <h2>TaskJar Software</h2>
        <span>
            <p><strong>Description: </strong> A project management software that helps with management of tasks at work. Users can add projects, add project tasks and then they can track the task progress as they work, based on task urgency.</p>
        </span>
        <span>
            <div class="tech-features">
                <ul>
                    <h4>Technologies Used</h4>
                    <li>Django</li>
                    <li>Django-Rest-Framework</li>
                    <li>Postresql</li>
                    <li>DRF-simpleJWT</li>
                    <li>React</li>
                    <li>Redux</li>
                    <li>Bootstrap</li>
                </ul>
                <ul>
                    <h4>Features</h4>
                    <li>Authentication & Authorization</li>
                    <li>Create a Project to Manage</li>
                    <li>Add project contributors</li>
                    <li>Create Project Tasks</li>
                    <li>Assign Tasks</li>
                    <li>See task Board</li>
                    <li>Mark task as In-Progress</li>
                    <li>Mark Task as Done</li>
                    <li>Delete Task</li>
                    <li>Edit & Project</li>
                    <li>View & Edit Profile</li>
                    <li>Admin: See all Users</li>
                    <li>Admin: Give admin status to users</li>
                    <li>Admin: See all Users</li>
                </ul>
            </div>
        </span>
        <span>
            <h4>Things I Learnt</h4>
            <ol>
                <li>How to 'RESET' state in the redux store whenever i need to go back to the default state</li>
                <li>User JWT for Authentication and Authorization in django</li>
                <li>How to effectively nest model serializers in django</li>
                <li>How to properly construct model relations in relational databases(Postgres)</li>
            </ol>
        </span>
        <span class="dialog-actions">
            <div class="toapp">
                <a href="https://github.com/Manasseh-Kinyua/taskjar" target="_blank"><button class="button">Source Code</button></a>
                <a href="https://taskjar.up.railway.app/" target="_blank"><button class="button">View App</button></a>
            </div>
            <button class="close-dialog" mat-dialog-close="true">Close</button>
        </span>
    </div>
</div>