<div class="navigation">
  <div class="nav-holder">
    <div class="l-nav">
      <p>Manasseh</p>
      <span class="logo"><small>MK</small></span>
    </div>

    <div class="m-nav">
      <ul>
        <li><a href="#hero">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
      </ul>
    </div>

    <div class="r-nav">
      <a class="button" href="#contact">Contact</a>
    </div>
  </div>
</div>

<div id="hero" class="introduction">
  <div class="intro-wrapper">
    <div class="l-intro">
      <div class="intro-wave">
        <img style="width: 10rem;" src="../assets/images/wave1-removebg-preview.png" alt="image">
      </div>
      <div class="intro-salute">
        <h4>Hi, I Am</h4>
        <h4 style="color: orange;">Manasseh Kinyua</h4>
      </div>
      
      <div class="intro-info">
        <small>A professional and passionate FullStack Web Developer and Mobile App Development Enthusiast.</small> <br>
        <small>Qualified and Proven to deliver quality Web Applications.</small>
      </div>

      <div class="intro-btns">
        <a class="button" href="../assets/docs/Manasseh Resume.pdf" target="_blank">Download CV</a>
        <a class="button" href="https://manasseh-kinyua.github.io/manasseh-digital-resume/" target="_blank">Digital CV</a>
      </div>
    </div>
  
    <div class="r-intro">
      <div class="r-intro-images">
        <div class="me">
          <img class="img1" src="../assets/images/AirBrush_20211212085423-1_2__1_-removebg_3-removebg-preview.png" alt="nasseh img">
        </div>
        <div class="vectors">
          <img class="img2" src="../assets/images/Vector1-removebg-preview.png" alt="blue vector">
          <img class="img3" src="../assets/images/Vector2-removebg-preview.png" alt="orange vector">
        </div>
      </div>

      <div class="theme-options-holder">
        <div class="theme-header">
          <h4>Switch Themes</h4>
        </div>
        <hr>
        <div class="theme-options">
          <div class="light-option" (click)="switchTheme('default')"></div>
          <div class="dark-option" (click)="switchTheme('dark')"></div>
          <div class="blue-option" (click)="switchTheme('blue')"></div>
          <div class="green-option" (click)="switchTheme('green')"></div>
        </div>
      </div>

      <div class="intro-emoji-holder">
        <img src="../assets/images/glassesimoji.png" alt="glassesimoji">
      </div>

      <div class="floating-div-1">
        <img src="../assets/images/crown.png" alt="">
        <div>
          <p>Web</p>
          <p>Developer</p>
        </div>
      </div>

      <div class="floating-div-2">
        <img src="../assets/images/thumbup.png" alt="">
        <div>
          <p>Web</p>
          <p>Designer</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="about" class="about">
  <!-- <div class="about-header">
    <h3>About Me</h3>
    <h4>Interests</h4>
  </div> -->
  <div class="about-wrapper">
    <div class="l-about">
      <div class="l-about-header">
        <h3>About Me &</h3>
        <h4>Interests</h4>
      </div>

      <div class="l-about-info">
        <p>I am a solution-oriented Software Developer and a lifelong learner with a professional background in Web Development.
        I am greatly motivated by the opportunity that software provides to positively impact the life of an individual and the world as a whole.
        <p>I enjoy development because of the satisfaction that I get by overcoming challenges.</p>
      </div>
    </div>

    <div class="r-about">
      <div class="r-about-header">
        <h3>Social Links</h3>
        <h4>Find Me</h4>
      </div>

      <div class="overlapping-circles">
        <div class="circle-1">
          
        </div>
        <div class="circle-2">

        </div>
      </div>

      <div class="social-circle">
        <div class="git-hub">
          <a href="https://github.com/Manasseh-Kinyua" target="_blank"><img src="../assets/images/github.png" alt="github"></a>
        </div>
        <div class="linkedin">
          <a href="https://www.linkedin.com/in/nassehkinyua/" target="_blank"><img src="../assets/images/linkedin.png" alt="linkedin"></a>
        </div>
        <div class="instagram">
          <a href="https://www.instagram.com/nassehkinyua/" target="_blank"><img src="../assets/images/instagram.png" alt="github"></a>
        </div>
        <div class="facebook">
          <a href="https://web.facebook.com/manasseh.kinyyiu" target="_blank"><img src="../assets/images/facebook-removebg-preview.png" alt="github"></a>
        </div>
        <div class="twitter">
          <a href="https://twitter.com/Dev__Nasseh" target="_blank"><img src="../assets/images/twitter-removebg-preview.png" alt="github"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="services" class="services">
  <div class="services-wrapper">
    <div class="services-header">
      <h3>My Awesome</h3>
      <h4>Services</h4>
    </div>

    <div class="services-holder">
      <div class="service-1 service-card">
        <div class="service-card-img">
          <img src="../assets/images/glasses.png" alt="">
        </div>

        <div class="service-card-header">
          <h4>Developer</h4>
        </div>
        <div class="service-card-info">
          <p>I always work on delivering quality scalable FullStack web applications</p>
        </div>
      </div>

      <div class="service-1 service-card">
        <div class="service-card-img">
          <img src="../assets/images/heartemoji.png" alt="">
        </div>

        <div class="service-card-header">
          <h4>Design</h4>
        </div>
        <div class="service-card-info">
          <p>I always work on delivering quality design for your applications</p>
        </div>
      </div>

      <div class="service-1 service-card">
        <div class="service-card-img">
          <img src="../assets/images/humble.png" alt="">
        </div>

        <div class="service-card-header">
          <h4>UI/UX</h4>
        </div>
        <div class="service-card-info">
          <p>I always work on delivering quality user interfaces and user experiences</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="experience">
  <div class="experience-holder">
    <div class="blur">

    </div>
    <div class="experience-circle">
      <div class="circle">
        <h3>1</h3>
      </div>
      <div class="exp-text">
        <p>Year</p>
        <p style="color: orange;">Experience</p>
      </div>
    </div>
    <div class="experience-circle">
      <div class="circle">
        <h3>10+</h3>
      </div>
      <div class="exp-text">
        <p>Projects</p>
        <p style="color: orange;">Completed</p>
      </div>
    </div>
    <div class="experience-circle">
      <div class="circle">
        <h3>1</h3>
      </div>
      <div class="exp-text">
        <p>Company</p>
        <p style="color: orange;">Worked For</p>
      </div>
    </div>
    <div class="blur-2">
      
    </div>
  </div>
</div>

<div id="skills" class="skills">
  <div class="blur"></div>
  <div class="skills-wrapper">
    <div class="skills-header">
      <h3>Skills</h3>
      <h4>Tech Stack</h4>
    </div>
    <div class="frontend">
      <div class="skill-card">
        <h4>Javascript</h4>
        <img src="../assets/images/js.png" alt="">
      </div>
      <div class="skill-card">
        <h4>Angular</h4>
        <img src="../assets/images/angular-removebg-preview.png" alt="">
      </div>
      <div class="skill-card">
        <h4>React</h4>
        <img src="../assets/images/react-removebg-preview.png" alt="">
      </div>
      <div class="skill-card">
        <h4>Redux</h4>
        <img src="../assets/images/redux-removebg-preview.png" alt="">
      </div>
      <div class="skill-card">
        <h4>Vue.js</h4>
        <img src="../assets/images/vue-removebg-preview.png" alt="">
      </div>
    </div>
    <div class="backend">
      <div class="skill-card">
        <h4>Python</h4>
        <img src="../assets/images/python-removebg-preview.png" alt="">
      </div>
      <div class="skill-card">
        <h4>Django</h4>
        <img src="../assets/images/django-removebg-preview.png" alt="">
      </div>
      <div class="skill-card">
        <h4>Flask</h4>
        <img src="../assets/images/flask-removebg-preview.png" alt="">
      </div>
    </div>
    <div class="fullstack">
      <div class="skill-card">
        <h4>AWS</h4>
        <img src="../assets/images/aws-removebg-preview.png" alt="">
      </div>
      <div class="skill-card">
        <h4>Postgresql</h4>
        <img src="../assets/images/postgres-removebg-preview.png" alt="">
      </div>
    </div>
    <div class="other">
      <div class="skill-card">
        <h4>Git</h4>
        <img src="../assets/images/git-removebg-preview.png" alt="">
      </div>
      <div class="skill-card">
        <h4>GitHub</h4>
        <img src="../assets/images/githublogo-removebg-preview.png" alt="">
      </div>
      <div class="skill-card">
        <h4>HTML</h4>
        <img src="../assets/images/html-removebg-preview.png" alt="">
      </div>
      <div class="skill-card">
        <h4>CSS</h4>
        <img src="../assets/images/css-removebg-preview.png" alt="">
      </div>
      <div class="skill-card">
        <h4>Bootstrap</h4>
        <img src="../assets/images/bootstrap-removebg-preview.png" alt="">
      </div>
    </div>
  </div>
</div>

<div id="portfolio" class="portfolio">
  <div class="portfolio-wrapper">
    <div class="portfolio-header">
      <h3>Portfolio</h3>
      <h4>Projects</h4>
    </div>
    <div class="portfolio-cards-holder">
      <div class="portfolio-card">
        <img src="../assets/images/taskjar.png" alt="taskjar software">
        <h5>Taskjar Software</h5>
        <button class="button" (click)="openTaskJarDialog()">Details</button>
      </div>
      <div class="portfolio-card">
        <img src="../assets/images/ecommerce.png" alt="taskjar software">
        <h5>BigBasket</h5>
        <button class="button" (click)="openBigBasketDialog()">Details</button>
      </div>
      <div class="portfolio-card">
        <img src="../assets/images/elearning.jpeg" alt="taskjar software">
        <h5>Estudiar</h5>
        <button class="button" (click)="openEstudiarDialog()">Details</button>
      </div>
      <div class="portfolio-card">
        <img src="../assets/images/ascendas.png" alt="taskjar software">
        <h5>Ascendas Web App</h5>
        <mat-chip color="accent" selected>For Company</mat-chip>       
        <button class="button" (click)="openAscendasDialog()">Details</button>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="contact">
  <div class="contact-wrapper">
    <div class="contact-header">
      <h3>Contact Me</h3>
      <h4>Let's Talk</h4>
    </div>
    <div class="contact-methods-holder">
      
      <div class="mail-whatsapp">
        <h3 style="align-items: center;">Talk to me</h3>
        <div class="mail">
          <img src="../assets/images/mail-removebg-preview.png" alt="email">
          <h4>EMail</h4>
          <a href="">Write me <mat-icon>arrow_right_alt</mat-icon></a>
        </div>
        <div class="whatsapp">
          <img src="../assets/images/whatsapp-removebg-preview.png" alt="whatsapp">
          <h4>whatsapp</h4>
          <a href="">whatsapp me <mat-icon>arrow_right_alt</mat-icon></a>
        </div>
      </div>
  
      <div class="cont-form">
        <h3>Write to me</h3>
        <form action="https://formsubmit.co/fe584a971a864001cb5ea129615258cb" method="POST">
          <span class="name">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" required>
          </span>
          <span class="email">
            <label for="name">Email</label>
            <input type="email" id="email" name="email" required>
          </span>
          <span class="message">
            <label for="name">Message</label>
            <textarea name="message" id="message" cols="30" rows="10" required></textarea>
          </span>
          <span>
            <button class="button">Submit</button>
          </span>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-wrapper">
    <div class="footer-text">
      <p>nassehkinyua@gmail.com</p>
    </div>
    <div class="footer-icons">
      <!-- <mat-icon class="footer-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="githhub-box">githhub-box</mat-icon> -->
    </div>
  </div>
</div>